@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px ;
    /* padding-bottom: 25px; */
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
main > section{
    margin-top: 130px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none; 
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar, .banner{
    max-width: 1440px;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.banner-discription{
    line-height: 26px;
    font-size: 1rem;
}
.banner-img{
    width: 100%;

}
 .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
 }
.teams{
    align-items: center;
}
.our-fetures{
    margin-left: 130px;
    max-width: 530px;
    width: 490px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#ql{
    font-weight: 500;
}
.ytyt{
    margin-left: 50px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 124px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241px;
    height: 241px; 
    text-align: center;
    justify-content: center;
    align-items: center;

}
.fact-card h4{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-card h5{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-discription{

}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
@media screen and (max-width:576px){
    .navbar, .navlinks , .teams{
        flex-direction: column;

    }
    .team-img-container{
        grid-template-columns: repeat(1fr);
    }
    .fact-container{
        display: flex; 
        flex-direction: column;
        justify-items: center;
        padding-left: 100px;
        margin-right: 0px;
        gap: 24px  ;
}
    .sponsor-companies{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-left: 150px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-fetures{

         margin-left: 0px; 
    }
    .sponsor-companies, .fact-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
    
}